<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.springframework.beans.factory" level="DEBUG"/>

        <Logger name="own.jadezhang.learning.apple" level="DEBUG"/>

        <Logger name="org.apache.ibatis" level="DEBUG"/>

    </Loggers>
</Configuration>